body{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
}
p{
    font-size: 18px;
}
button{
    font-size: 14px;
}
h3{
    font-size: 24px;
}
h2 {
    font-size: 36px;
    font-weight: 400;
}
h1 {
    font-size: 72px;
    font-weight: 400;
}
.button{
    width: 250px;
    height: 50px;
    background-color: #5a0d67;
    color: #fff;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}
button:hover{
    background-color: #fff;
    color: #5a0d67;
}
.container{
    max-width: 1200px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}




/* HEADER */
.header{
    background: url(../img/header.jpg) center no-repeat;
    background-size: cover;
}
.header__contant{
    position: relative;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 47px 0px 105px;
}
.header__tel h2{
    color: white;
    line-height: 53px;
}
.header__headlines{
    color: white;
    max-width: 762px;
    margin-bottom: 30px;
    line-height: 107px;
    text-transform: uppercase;
}
.header__headlines h2{
    line-height: 53px;
}
.header__text{
    color: white;
    max-width: 467px;
    line-height: 27px;
}
.header__text p{
    margin-bottom: 30px;
}
.header__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 70px 0 118px;
}
.header__icon a{
    margin-right: 10px;
}
.header__img{
    position: absolute;
    bottom: -200px;
    right: 0;
}

/* наши услуги */
.services{
    margin: 300px 0 100px;
}
.title__services{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.title__services span{
    width: 80px;
    height: 3px;
    margin-left: 5px;
    background-color: #21062A;
}
.boxes__services{
    display: flex;
}
.box-services__text{
    margin-right: 96px;
    max-width: 504px;
}
.box__container-one{
    margin-bottom: 69px;
}
.box__container-two{
    margin-bottom: 50px;
}
.services__text p{
    line-height: 27px;
    color: #2C2B2B;
    margin-top: 12px;
}
.text_color{
    color: #5a0d67;
    
}
.services__btn{
    display: flex;
    align-items: center;
}
.services__btn span{
    margin-left: -5px;
    width: 80px;
    height: 0;
    border: 1px solid #C4C4C4;
}
.services__btn div{
    margin-left: 10px;
    font-size: 14px;
    line-height: 21px;    
    text-transform: uppercase;
    color: #C4C4C4
}
.boxes-services__columns{
    max-width: 500px;
}
.box__columns{
    display: inline-flex;
    align-items: center;
    height: 75px;
    width: 450px;
    margin-bottom: 12px;
    border: 1px solid #C4C4C4;
}
.box__column__text {
    margin-left: 40px;
    color: #2C2B2B;
}
.box__column__text h3{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;

}
.box__column__text p{
    line-height: 27px;
}
.box__columns__num {
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 53px;
width: 33px;
height: 53px;
margin-left: 20px;
text-transform: uppercase;
color: #C4C4C4;
transform: rotate(-90deg)
}
.box__columns:hover h3{
    color: #5a0d67;
}
.box__columns:hover .box__columns__num{
    color: #5a0d67;
}
.box__columns:hover{
    width: 500px;
    border: 1px solid #5a0d67;
}
/* почему мы? */
.section__why-are-we{
    margin-bottom: 100px;
}
.boxes__why-are-we{
    display: flex;
}
.why__text__title h2{
    line-height: 53px;
    text-transform: uppercase;
    color: #21062A;

}
.why__text__title{
    margin-left: 280px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.why__text-boxes{
    background-color: #21062A;
    color: #fff;
    width: 765px;
    margin-left: 95px;
    padding: 23px 0 45px;
}
.why__text__box{
    max-width: 316px;
    padding-bottom: 20px;
    margin: 0 270px 0 185px;
}
.why__text__box:last-child{
    padding-bottom: 0;
}
.why__text__box h2{
    line-height: 53px;
    text-transform: uppercase;
}
.why__text__box h3{
    line-height: 36px;
}
.why__text__box p{
    line-height: 27px;
    color: #C4C4C4;
}
.why__text__title span{
    width: 80px;
    height: 3px;
    margin-left: 5px;
    background-color: #21062A;
}

/* пригнанные нами авто */

.boxes__cars{
    margin: 0 -7px;
}
.boxe__driven:hover {
    background-color: #5a0d67;
    border-color: #5a0d67;
}
.boxe__driven:hover p{
    color: #fff;
}
.boxe__driven{
    text-align: center;
    border: 1px solid #C4C4C4;
    padding: 6px 6px 16px;
    margin:0 7px;
}
.boxe__driven img{
    max-width: 100%;
    margin-bottom: 23px;
}
.boxe__driven p{
    color: #2C2B2B;
    line-height: 27px;
    margin-bottom: 5px;
}
.boxes__cars .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.boxes__cars .slick-dots button{
    font-size: 0;
    margin: 0 10px;
    background-color: #C4C4C4;
    width: 50px;
    height: 1px;
}
.boxes__cars .slick-active button{
    height: 3px;
    background: #5a0d67;
}

/* contacts */
.contacts{
    margin-top: 100px;
}
.contacts__title{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 10px;
}
.menu__title{
    margin-bottom: 20px;
}
.menu__title:last-child{
    margin-bottom: 57px;
}
.menu__list{
    font-size: 18px;
    line-height: 27px;
    color: #5a0d67;
}
.menu__text{
    font-size: 18px;
    line-height: 27px
}
.boxes__submit{
    display: flex;
    flex-direction: column;
    
    padding: 50px 75px 57px; 
    background-color: #21062A;
}
.boxes__submit input{
    background-color: #21062A;
    text-align: center;
    border: 1px solid #fff;
    padding: 24px 0;
    width: 450px;
    margin-bottom: 12px;
    color: #fff;
}
.boxes__submit input::placeholder{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #C4C4C4;
}
.boxes__submit button{
    margin: 78px 0 57px;
}
.box__submit-button{
    display: flex;
    justify-content: center;
}
.title__boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    color: #fff;
}
.title__boxes span{
    width: 80px;
    height: 3px;
    margin-left: 5px;
    background-color: #fff;
}
.title__contacts{
    display: flex;
    align-items: center;
    color: #21062A;
    margin-bottom: 50px;
}
.title__contacts span{
    width: 80px;
    height: 3px;
    margin-left: 5px;
    background-color: #21062A;
}
.title span {
    background-color: #fff;
}
/* footer */

.footer{
    background-color: #21062A;
}
.footer__boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 23px;
}
.header__item{
    display: flex;
    align-items: center;
}
.header__item a {
    margin-right: 10px;
}
.header__text{
    align-items: center;
    display: contents;

}
.header__text a {
    color: #fff;
    font-size: 18px;
    line-height: 27px;
}